<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- ✅ Class là nền tảng trong TypeScript, giúp tạo đối tượng dễ dàng.
✅ Có thể chứa thuộc tính (properties) và phương thức (methods).
✅ Hỗ trợ public, private, protected, getter, setter để kiểm soát dữ liệu.
✅ Được sử dụng rộng rãi trong Angular, đặc biệt là để tạo Components, Services, Models.

 -->

<!-- ✅ this.username = username; giúp gán giá trị từ tham số vào thuộc tính của class.
✅ this đại diện cho đối tượng (instance) hiện tại của class.
✅ Nếu không dùng this, biến cục bộ sẽ tự gán cho chính nó và không có tác dụng.
✅ Có thể viết gọn constructor bằng cách khai báo trực tiếp public hoặc private trong tham số. -->

<!-- ✅ Chỉ dùng templateUrl hoặc template, không dùng cả hai.
✅ Nếu UI dài, dùng templateUrl để dễ bảo trì.
✅ Nếu UI ngắn, có thể dùng template để code nhanh hơn. -->

<!-- 🎯 Binding
✅ Angular binding giúp đồng bộ dữ liệu giữa component & UI mà không cần thao tác DOM trực tiếp.
✅ Có 5 loại binding chính:

Property Binding [property]
Event Binding (event)
Two-way Binding [(ngModel)]: đồng bộ 2 chiều từ component đến UI và ngược lại.
Attribute Binding [attr.*]
Class & Style Binding [class], [style] -->

<main class="main">
  <div class="content">
    <h1 class="inner-title">Welcome to {{ title }}!</h1>

    <!-- <button class="inner-button" (click)="increase()">
      click to increase count
    </button>
    <p>Count: {{ count }}</p> -->

    <!-- <div class="inner-form">
      <input [(ngModel)]="name" placeholder="Nhập tên">
      <p>Tên: {{ name }}</p>
      hello {{ name }}
    </div> -->

    <!-- search -->
    <!-- <form class="inner-form">
      <input type="text" name="search" [(ngModel)]="searchText">
    </form>
    <div class="inner-result">
      <ul>
        <li *ngFor="let item of getResultsSearch()">
          {{ item.name }}
        </li>
      </ul>
    </div> -->
    <!-- end search -->

    <!-- todo list -->
    <div class="inner-todo-list">
      <form (submit)="addTodo()" class="inner-form">
        <input type="text" name="task" [(ngModel)]="todoText">
        <button type="submit">Add</button>
      </form>

      <ul>
        <li *ngFor="let item of todoList;" [class.active]="item.isDone">
          {{ item.text }}
          <div class="inner-action">
            <button (click)="removeTodo(item.id)">Remove</button>
            <button (click)="updateTodo(item.id)">Update</button>
            <button (click)="editTodo(item.id)">Edit</button>
          </div>
        </li>
      </ul>
    </div>
    <!-- end todo list -->
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />